body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/static/images/background.png') no-repeat center center fixed;
    background-size: cover;
}

header {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin: 20px 0;
}

header h1 {
    font-size: 3em;
    font-family: Arial, sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 50%;
}

.content-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.description {
    display: none;
    font-size: 15px;
    color: #555;
    margin-top: 10px;
}

.description-h3 {
    display: none;
    font-size: 25px;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* 팝업 배경 */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* 팝업 창 */
.popup {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

/* 팝업 닫기 버튼 */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* 팝업 내비게이션 버튼 */
/* 팝업 내비게이션 버튼 */
.popup-nav {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: none; /* 기본적으로 버튼을 숨김 */
}

.popup-prev {
    left: 10px;
}

.popup-next {
    right: 10px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title {
    font-size: 28px;
    margin: 0;
}

.popup-image {
    max-width: 60%;
    height: 45%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.popup-description-h3, .popup-description {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}
