<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <title>test</title>
</head>
<body>
    <div class="satellites">
        <img class="satellite" style="--i: 0; top: 80px" src= "{% static 'images/1.png' %}">
        <img class="satellite" style="--i: 20; top: 30px" src= "{% static 'images/2.png' %}">
        <img class="satellite" style="--i: 40; top: 120px" src= "{% static 'images/3.png' %}">
        <img class="satellite" style="--i: 60; top: 70px" src= "{% static 'images/4.png' %}">
        <img class="satellite" style="--i: 80; top: 10px" src= "{% static 'images/5.png' %}">
        <img class="satellite" style="--i: 100; top: 90px" src= "{% static 'images/aboutus.png' %}">
        <img class="satellite" style="--i: 120; top: 40px" src= "{% static 'images/culture_icon.png' %}">
        <img class="satellite" style="--i: 140; top: 30px" src= "{% static 'images/desc_icon_2.png' %}">
        <img class="satellite" style="--i: 160; top: 20px" src= "{% static 'images/desc_icon_3.png' %}">
        <img class="satellite" style="--i: 180; top: 90px" src= "{% static 'images/desc_icon.png' %}">
        <img class="satellite" style="--i: 200; top: 110px" src= "{% static 'images/description_icon.png' %}">
        <img class="satellite" style="--i: 220; top: 20px" src= "{% static 'images/map_icon.png' %}">
        <img class="satellite" style="--i: 240; top: 70px" src= "{% static 'images/park_icon.png' %}">
        <img class="satellite" style="--i: 260; top: 80px" src= "{% static 'images/study_icon.png' %}">
        <img class="satellite" style="--i: 280; top: 10px" src= "{% static 'images/1.png' %}">
        <img class="satellite" style="--i: 300; top: 20px" src= "{% static 'images/2.png' %}">
        <img class="satellite" style="--i: 320; top: 120px" src= "{% static 'images/3.png' %}">
        <img class="satellite" style="--i: 340; top: 20px" src= "{% static 'images/4.png' %}">
    </div>
</body>
</html>